<a href="https://colab.research.google.com/github/noorhameednoorhameed82-tech/Python-assignments/blob/main/Python_assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 Python Programming
This report is based on Python programming.
The purpose of this assignment is to understand variables and basic data types in Python.

In [ ]:
### Q1. What is a variable?
A variable is a container used to store data values in Python.
Example:
x = 10

In [ ]:
### Q2. Rules of Variable Naming
1. Variable name must start with a letter or underscore
2. It cannot start with a number
3. No spaces allowed

In [ ]:
### Q3. Integer Data Type
Integer is a whole number without decimal.
Example:
num = 5

In [ ]:
### Q4. Float Data Type
Float is a number with decimal.
Example:
price = 10.5

In [ ]:
### Q5. String Data Type
String is a collection of characters.
Examples:
name = "noor"

In [3]:
### Q7. type() Function
#type() is used to check the data type of a variable.
#Example:
x = 10
print(type(x))

<class 'int'>

In [4]:
### Q8. input() Function
#input() takes input from the user.
#Default data type of input is string.
#Example:
name = input("Enter name: ")

Enter name: Noor

In [8]:
### Q9. Type Casting
#Type casting converts one data type into another.
#Example:
num = int("5")

In [6]:
### Q10. Program
#num = input("Enter a number: ")
print(type(num))

<class 'int'>

In [ ]:
Conclusion:

In this assignment, we learned about variables
and basic data types in Python.
This knowledge is important for