<a href="https://colab.research.google.com/github/noorhameednoorhameed82-tech/Python-assignments/blob/main/Python%20assignment%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



##match statement:
*The match statement is used to compare a value with multiple patterns and execute the matching block.*
*It works like switch-case in other languages and is cleaner than long if/elif chains.*

**Example 1**

In [ ]:

day = 3

match day:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")
    case 3:
        print("Wednesday")
    case 4:
        print("Thursday")
    case 5:
        print("Friday")
    case _:
        print("Invalid day")

Wednesday

**Example 2:**

In [ ]:

a = 10
b = 5
op = "+"

match op:
    case "+":
        print(a + b)
    case "-":
        print(a - b)
    case "*":
        print(a * b)
    case "/":
        print(a / b)
    case _:
        print("Invalid operator")

15

**Example 3:**

In [ ]:

grade = "C"

match grade:
    case "A":
        print("Excellent")
    case "B":
        print("Good")
    case "C":
        print("Average")
    case "D":
        print("Poor")
    case _:
        print("Fail")

Average

##difference between if else and match statement:
*It is useful when different conditions ""need to be tested using operators. On the other hand, the match statement is used to match a single value with multiple fixed cases. It makes the code easier to read when there are many options. The if/else statement works in all versions of Python, while the match statement works only in Python 3.10 and above. In simple words, if/else is used for condition checking, whereas match is used for choosing from fixed values*


#Nested if :
*A nested if statement is an if statement inside another if statement. It allows you to check multiple conditions in a hierarchical manner.*

In [ ]:

Syntax:
if condition1:
    # code block 1
    if condition2:
        # code block 2

##Example 1:

In [ ]:

num = 10

if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive")
else:
    print("Negative")

Positive

##Example 2:

In [ ]:

marks = 75

if marks >= 40:
    if marks >= 80:
        print("Grade A")
    else:
        print("Pass")
else:
    print("Fail")

Pass

##Example 3:

In [ ]:

num = -2

if num > 0:
    if num % 2 == 0:
        print("Positive Even")
    else:
        print("Positive Odd")
else:
    print("negative")

negative

##Example 4;

In [ ]:


temp = 30

if temp > 0:
    if temp > 25:
        print("Hot Weather")
    else:
        print("Normal Weather")
else:
    print("Freezing")

Hot Weather

##Example 5;

In [ ]:

amount = 8000

if amount >= 1000:
    if amount >= 5000:
        print("20% Discount")
    else:
        print("10% Discount")
else:
    print("No Discount")

20% Discount